
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "企业信息管理";
}
<div id="myAlert" role="alert">
    <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;" id="myAlert-font">
        </font>
    </font>
</div>
<div class="row">
    <div class="card w-100 border-light">
        <div class="card-body">
            <div class="row">              
                <div class="col-md-12 order-md-1">
                    <h4 class="mb-3">企业信息</h4>
                    @{
                        foreach (var item in Model)
                        {
                            <form>
                                <input type="hidden"id="ID" value="@item.ID">
                                <div class="mb-3">
                                    <label for="Name">企业名称</label>
                                    <input type="text" class="form-control" id="Name" placeholder="企业名称" value="@item.Name">
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="ServicePhone">电话</label>
                                        <input type="text" class="form-control" id="ServicePhone" placeholder="电话"value="@item.ServicePhone">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="ServiceEmail">Email</label>
                                        <input type="email" class="form-control" id="ServiceEmail" placeholder="you@example.com"value="@item.ServiceEmail">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="Address">企业地址</label>
                                    <input type="text" class="form-control" id="Address" placeholder="企业地址"value="@item.Address">
                                </div>
                                <div class="mb-3">
                                    <label for="DepositBank">开户银行</label>
                                    <input type="text" class="form-control" id="DepositBank" placeholder="开户银行"value="@item.DepositBank">
                                </div>
                                <div class="mb-3">
                                    <label for="BankAccount">银行账户</label>
                                    <input type="text" class="form-control" id="BankAccount" placeholder="银行账户"value="@item.BankAccount">
                                </div>
                                <div class="mb-3">
                                    <label for="Content">企业描述</label>
                                    <textarea class="form-control" id="Content" placeholder="企业描述">@item.Content</textarea>
                                </div>
                                <hr class="mb-4">
                                <button class="btn btn-primary btn-lg btn-block" type="button" id="btn_save">保 存</button>
                            </form>
                        }
                    }
                   
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        //
        $('#btn_save').on('click', function () {
            $("#btn_save").attr('disabled', "true").text('保存中...');
            var id = $.trim($("#ID").val());
            var name = $.trim($("#enterprise-name").val());
            var marked = $('#enterpriseSelect').val();
            var param = { ID: $.trim(id), Name: $.trim(name), Marked: marked };
            if ($('[name=__RequestVerificationToken]').length > 0) {
                param["__RequestVerificationToken"] = $('[name=__RequestVerificationToken]').val();
            }
            $.ajax({
                url: "/AdminManage/Admin/EnterpriseEdit",
                async: false,
                data: param,
                method: "post",
                dataType: "json",
                success: function (data) {
                    if (data.state == "success") {
                        $('#Modal').modal('hide')
                    } else {
                        $("#EnterpriseSubmit").removeAttr("disabled").text('提交');
                    }
                }
            });
        });

        //提示alter
        function alterOpen(bool, type, text, time) {
            $.alterMsg({
                bool: bool,
                type: type,
                text: text,
            });
            window.setTimeout(function () {
                $.alterMsg({
                    bool: false,
                    type: '',
                    text: '',
                });
            }, time);

        }
    </script>

}
